@import '../../style/stylesMain.scss';

.cart{
  border-radius: 12px;
  box-shadow: 0 0 8px 1px rgb(39 25 56 / 8%);
  padding: 16px;
  margin: 16px;
  &__shoppingCart{
    display: flex;
    &__product{
      &__detail{
        &__totalProduct{
          display: flex;
          justify-content: space-between;
          // background-color: blue;
          &__amount{
            display: flex;
            justify-content: space-between;
            border-radius: 6px;
            // width: 20%;
            padding: 6px;
            background-color: $color-faSearch;
            &__plus, &__less{
              background-color: $color-primary;
              border-radius: 4px;
              padding: 2px;
            }
            &__number{
              padding: 0 10px;
            }
          }
        }
      }
      &__container{
        display: flex;
      }
      &__img{
        width: 50%;
        background-color: aqua;
        img{
          width: 80%;
        }
      }
    }
  }

}
