@import "../../style/stylesMain.scss";

.category{
  color:$color-secondary;
  display: flex;
  font-size: $font-size-2;
  margin: 1% 0 0 10%;
  font-family: $font-family-primary;
  :hover{
    cursor: pointer;
    color: $color-primary
  }
  &__item{
    display: flex;
    margin-right: 20px;
    &__down{
      margin: 5px 0 0 5px;
    }
  }
  &__listProduct{
    transform: translate(0, -800%);
    transition: transform 0.3s ease;
    position: absolute;
    &--show{
      width: 100%;
      z-index: 10;
      position: absolute;
      transition: transform 0.3s ease;
    }
  }
}

@media (min-width: 992px){
  .category{
    &__listProduct{
      &--show{
        // width: 70%;
        margin:0 auto
      }
    }
  }
}
