// $main-color: #4c3dff;
$main-color: #efefef;
$main-font-color: #000;
// $main-font-color: black;
$secondary-color: #c0c0c0;
$font-color: #555;

#shopping-cart {
  display: flex;
  flex-direction: row;
  margin: 5vh 5vw;
  gap: 2em;
  font-family: 'Nunito Sans';
}
.cart__table {
  width: 100%;
  border: 1px solid $secondary-color;
  border-collapse: collapse;
  &--thead {
    border: 1px solid $main-color;
    background-color: $main-color;
    color: black;
    font-weight: 800;
    font-size: 1.3rem;
    th {
      padding: 0.2em 0;
    }
  }
  &--row {
    border-bottom: $secondary-color 1px solid;
    td {
      text-align: center;
      justify-content: start;
      margin: auto;
      padding: 1em 0;
      p {
        display: inline;
        margin-right: 0.5em;
        margin-left: 0.5em;
      }
      .cart--image {
        margin: 0 2rem;
        max-width: 5em;
      }
    }
  }
  &--tbody {
    text-align: left;
  }
  &--item {
    display: flex;
    align-items: center;
    p {
      text-align: start;
      font-weight: 800;
      font-size: 16px;
    }
  }
}

@media (max-width: 600px) {
  #shopping-cart {
    flex-direction: column;
  }
  .cart__table {
    display: block;
    width: 100%;
    &--row {
      th:nth-child(2) span {
        display: none;
      }
      th:nth-child(2):after {
        content: '#';
      }
      th:nth-child(3),
      td:nth-child(3) {
        display: none;
      }
    }
  }
}
.shopping-cart__btnPay {
  left: 45%;
  color: #fff;
  border: none;
  font-weight: bolder;
  letter-spacing: 1.5px;
  position: relative;
  background: #4c3dff;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  &:disabled {
    background-color: #c0c0c0;
  }
}

//Cart Summary

.cart__summary {
  border: 1px solid $secondary-color;
  margin-top: 0;
  color: $font-color;
  > * {
    padding: 0 1rem;
  }
  &--title {
    background-color: $main-color;
    color: black;
    padding-bottom: 0.5rem;
    h1 {
      margin: 0 auto;
      padding: 0.5rem 0;
      font-size: 26px;
    }
    h4 {
      margin: 0.5rem 0;
    }
  }
  &--total {
    margin: 2rem 0;
  }
  &--value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem;
    p {
      font-weight: 900;
    }
  }
  &--terms {
    margin: 2rem 1rem;
  }
  .cupon {
    margin: 0 1rem;
    label > p {
      display: block;
    }
    input:focus {
      outline: none;
    }
    #descuento {
      font-size: 90%;
      margin-top: 1rem;
      width: 75%;
      border: 1px solid $secondary-color;
      border-radius: 5px 0 0 5px;
      padding: 0.3rem;
    }
    #aplicar {
      width: 25%;
      background-color: $secondary-color;
      color: #fff;
      border-style: none;
      border-radius: 0 5px 5px 0;
      padding: 0.3rem 0.5rem;
    }
    #aplicar:active {
      transform: scale(0.98);
    }
  }
  &--button {
    background-color: $main-color;
    color: #fff;
    margin: 2rem 0;
    width: 100%;
    position: relative;
    border-style: none;
    padding: 0.5rem 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    line-height: 16px;
    &:focus {
      outline: none;
    }
    &:active {
      transform: scale(0.98);
    }
  }
}
