@import "../../style/stylesMain.scss";

.header {
  &__nav{
    background-color: $background-primary;
    height: 80px;
    // padding: 0 10%;
    // font-family: 'Causten Round Semi Bold Oblique';
    font-family: $font-family-primary;
  }
  &__main {
    display: grid;
    grid-template-columns:70% 15% 15%;
    &__logo{
      margin-left: 14%;
      color:$color-primary;
    }
    &__input{
      margin: 0 auto;
      margin-left: 100px;
      background-color: #0FCCCE;
    }
  }
  &__ul {
    transform: translate(0, -150%);
    // margin-top: 10px;
  }
  &__ul{
    left: 30%;
  }
  &__ul,
  &__ul--show {
    position: absolute;
    transition: transform 0.3s ease;
    width: 86%;
    // margin-left: 0;
  }
  &__ul--show {
    background-color: $background-primary;
  }
  &__li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    font-size: $font-size-2;
    // font-family: 'Inter';
    color: $color-secondary;
    // color:#0FCCCE
    margin-right: 10px;
    &__signUp{
      list-style-type: none;
    }
    &__inputSearch{
      display: none;
      width: 300px;
      margin-right: 50px;
    }
    a {
      color: white;
    }
    &__signUp{
      padding-top:5px;
      &__btn{
        background: #0FCCCE;
        border-radius: 5px;
        border: none;
        padding: 12px;
        font-family: $font-family-primary;
        // width: 100%;
        font-weight: bolder;
        color: $color-third;
        // padding-top: 0;
      }
    }
  }
  &__li:hover {
    color: white;
    a {
      color: white;
    }
  }
  &__bars {
    font-size: 25px;
    // margin-top: 8px;
    border: none;
    background-color: transparent;
  }
}
.background {
  transform: translate(-100%, 0);
}
.background,
.background--show {
  // background-color: rgba(0, 0, 0, 0.7);
  // height: 300%;
  // width: 100%;
}

@media (min-width: 992px) {
  .header {
    // height: 600px;
    &__main-logo {
      // margin-top: 25px;
      margin-left: 30px;
      background-color: aqua;
    }
    &__ul {
      transform: translate(0, 0);
      display: flex;
      // background-color: burlywood;
      // width: 60%;
      // background-color: #897ff1;
      top: 0;
      // left: 20%;
      // padding-right: 11%;
      width: 55%;
      // background-color:brown;
      &--show{
        margin-top: 0;
        // width: 0;
      }
    }
    &__li {
      &__signUp__btn{
        width: 150%;
      }
      // font-size: 20px;
      border-bottom: none;
      // background-color: transparent;
      &__inputSearch{
        display: unset;
      }
    }
    &__bars {
      display: none;
    }
  }
}
