// $background:white;
// $text-primary:black;
$color-primary:#0FCCCE;
$color-secondary:#606F7B;
$color-third:white;

/*---------------nav bar---------------*/
$background-primary:#FAFAFA;
$color-faSearch:#DAE1E7;

:export{
  color-primary:$color-primary;
  color-secondary:$color-secondary;

  background-primary:$background-primary;
}
