
@import "./../../style/stylesMain.scss";

.formik {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  background-color: $font-family-primary;
  // margin-right: 40px;
  &__animation{
    display: none;
    // width: 40%;
  }
  &__container {
    padding: 30px;
    background-color: white;
    height: 50%;
    margin-top: 40px;
    &__logo {
      // margin-top: 100px;
      text-align: center;
      color: $color-primary;
      font-family: $font-family-primary;
    }

    &__title {
      text-align: center;
      font-family: $font-family-primary;
    }

    &__form {
      margin: auto;
      // height: 89.5vh;
      // margin-right: 10px;
      &__item {
        text-align: center;

        &__label {
          display: none;
        }

        &__field {
          padding-left: 7px;
          width: 240px;
          margin-bottom: 20px;
          border: 1px solid #DAE1E7;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
          height: 36px;
          background-color: #fafafa;
          border-radius: 5px;
          font-family: $font-family-primary;
        }
      }

      &__login,
      &__submit {
        text-align: center;
        margin-bottom: 20px;

        &__btn {
          width: 210px;
          height: 33px;
          background: $color-primary;
          border: none;
          color: $color-third;
          border-radius: 5px;
          font-size: $font-size-2;
        }
      }
    }
  }
}

@media (min-width: 992px){
  .formik{
    &__animation{
      display: block;
    }
  }
}

