@import '../../style/stylesMain.scss';

.itemDetail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__main{
    // width: 60%;
    text-align: center;
    margin-top: 20px;
    // background-color: aqua;
    &__img{
      text-align: center;
      width: 60%;
    }
  }
  &__info{
    &__container{
      display: flex;
      justify-content: space-around;
    }
    &__btns{
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      &__btnBuy, &__btnAddCart{
        background-color: $color-primary;
        border: none;
        color: $color-third;
        padding: 12px;
      }
    }
    width: 30%;
    &__title{
    }
    &__description{
      // width: 50%;
    }
  }
}
